<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1 class="name">Name: {{name}}</h1>
    <p>Treatment: {{treatment}}</p>
    <p>Description: {{description}}</p>
  </div>

  <ion-button expand="block" (click)="goToMyElements()">Show Elements</ion-button>
</ion-content>
